<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>
        Páginas acessadas
      </th>

      <th>
        Url das páginas
      </th>

      <th>
        Data e hora do último acesso
      </th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'accessed_page_item_table', collection: contact.pages, as: :page, locals: { contact: contact } %>
  </tbody>
</table>
