<tr>
  <td>
    <%= link_to contact.email, contact_path(contact.id) %>
  </td>

  <td>
    <%= t contact.last_access.page_name %>
  </td>

  <td>
    <%= l contact.last_access.datetime %>
  </td>

  <td>
    <%= contact.prospect? ? 'Sim' : 'Não' %>
  </td>
</tr>
