<div class='row'>
  <div class='col-lg-12'>
    <%= content_tag :h3, "Página do contato - #{@contact.email}" %>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <%= render 'accessed_pages_table', contact: @contact %>
  </div>
</div>
