<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>
        Página acessada
      </th>

      <th>
        Data e hora do acesso
      </th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'access_item_table', collection: accesses, as: :access %>
  </tbody>
</table>
