<div class='row'>
  <div class='col-lg-12'>
    <h3>Lista de contatos</h3>
  </div>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <%= render 'contacts_table', contacts: @contacts %>
  </div>
</div>
